:root {
    --primary: #2563eb;
    --primary-hover: #1e4ed8;
    
    --secondary: #00ada4;
    --secondary-hover: #018d86;

    --background: #ffffff;
    --background-secondary: #f1f1f1;
    --section-background: #f8fafc;
    
    --text: #1a2535;
    --text-secondary: #808080;
    --text-unactive: #adadad;
    --border: #e6e9ed;

    --alert: #ff3a4a;
    --alert-hover: #db2f3d;
    
    --unactive: #eeeeef;
    --unactive-hover: #e6e6e6;
}