.btn {
    width: auto;
    padding: 12px 24px;
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
}
.btn-primary { background-color: var(--primary);}
.btn-primary:hover { background-color: var(--primary-hover);}

.btn-secondary { background-color: var(--secondary);}
.btn-secondary:hover { background-color: var(--secondary-hover);}

.btn-unactive { background-color: var(--unactive); color: var(--text); }
.btn-unactive:hover { background-color: var(--unactive-hover); }

.btn-alert { background-color: var(--alert); }
.btn-alert:hover { background-color: var(--alert-hover); }

.seg-control {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #f3f4f6;
    border-radius: 10px;
    padding: 4px;
    width: fit-content;
    margin: 5px auto;
    gap: 0;
}
.seg-control .seg-btn {
    width: 292px;
    height: 60px;
    font-weight: 700;
    position: relative;
    z-index: 2;
    background: none;
    color: var(--text) !important;
    border-radius: 10px;
    transition: color 0.3s ease;
}
.seg-control .slider {
    position: absolute;
    z-index: 1;
    top: 4px;
    left: 4px;
    height: calc(100% - 8px);
    width: calc(33.333% - 4px);
    background-color: #ffffff;
    border-radius: 10px;
    transition: left 0.3s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.section {
    padding: 20px 20px;
    text-align: center;
}

.section h2 {
    font-size: 2.8rem;
    margin-top: 20px;
    margin-bottom: 40px;
}

.offer-card {
    position: relative;
    background-color: var(--background-secondary);
    overflow: visible; /* żeby badge nie był przycięty */
    
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    justify-content: space-between;
    width: 30%;
    height: 200px;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}
.offer-card .title{
    font-size: 1.8rem;
    font-weight: 700;
}
.offer-card .price{
    font-size: 2.8rem;
    font-weight: 600;
}
.badge {
    position: absolute;
    top: -17.5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary);
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 0.85rem;
    height: 20px;
    width: 50%;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

@media (max-width: 430px) {
    .btn {
        width: auto;
        height: auto;
        padding: 4px 8px;
        /* text-decoration: none; */
        /* color: white; */
        border-radius: 4px;
        font-size: 0.4rem;
        /* cursor: pointer; */
        /* border: none; */
    }
    .seg-control {
        width: 100%;
        padding: 4px 0px;
        border-radius: 10px;
    }
    .seg-control .slider {
        border-radius: 8px;
    }
    .seg-control button.seg-btn {
        height: 35px;
        font-size: 0.75rem;
    }

    .offer-card {
        width: calc(50% - 34px);
        height: 100px;

        padding: 10px 12px;
        padding-top: 10px;

        border-radius: 10px;
    }
    .offer-card div.group {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    .offer-card .title{
        display: flex;
        gap: 6px;
        align-items: center;
        font-size: 0.8rem;
    }
    .offer-card .title .popular{
        border-radius: 10px;
        background: #e1663b;
        /* background: var(--secondary); */
        padding: 3px 8px 3px 4px;
        color: #ffffff;
        font-size: 0.4rem;
    }
    .offer-card .price{
        font-size: 1.6rem;
        font-weight: 700;
    }
    .offer-card .desc {
        color: var(--text-secondary);
        list-style-type: disc;
        font-weight: 500;
        font-size: 0.525rem;
    }
    .offer-card li.unactive {
        text-decoration: line-through;
        color: var(--text-unactive)
    }
    .offer-card .btn {
        background: var(--text);
        font-size: 0.6rem;
        padding: 6px 6px;
        font-weight: 500;
        /* height: 0px; */
    }
    .badge {
        top: -15px;
        padding: 6px 8px;
        border-radius: 2px;
        font-size: 0.6rem;
        height: 12px;
        width: 70%;
        /* box-shadow: 0 2px 6px rgba(0,0,0,0.1); */
    }
}